/***************************
 * Tarea 2                 *
 * Victor Casado Ugidos    *
 * LMSGI - DAW             *
 ***************************/

body {
	margin: 0;
	font-family: sans-serif;
}

header {
	position: relative;
	display: grid;
	grid-template-columns: 1fr 3fr;
	gap: 3rem;
	place-items: center;
	background: #2e3032;
	color: #fff;
}

.foto img {
	width: 100%;
	height: auto;
	aspect-ratio: 1 / 1;
	-o-object-fit: cover;
	   object-fit: cover;
}

.texto-intro {
	padding: 0 3rem;
	font-style: italic;
}

.texto-intro p {
	margin-top: -3rem;
	font-size: 1.3rem;
}

.nombre {
	position: absolute;
	bottom: 0;
	left: 0;
	flex-basis: 30%;
	display: flex;
	align-items: center;
	min-height: 100px;
	margin-top: -100px;
	padding: 0 3rem;
	background: rgb(52,189,190);
	background: linear-gradient(45deg, rgb(32, 142, 143) 0%, rgba(103, 254, 255, 0.7) 100%);
	color: #fff;
	text-transform: uppercase;
}

h1 {
	font-size: 2.5rem;
}

a,
a:visited {
	color: #208e8f;
}

a:hover {
	color: #67feff;
}

main {
	display: grid;
	grid-template-columns: 1fr 3fr;
	gap: 3rem;
}

aside {
	padding: 2rem 1rem;
	background: #2e3032;
	color: #fff;
}

aside > div {
	margin-bottom: 3rem;
}

.icono img {
	width: 32px;
}

.contacto ul {
	list-style: none;
}

.contacto ul li {
	margin-bottom: 1rem;
	display: grid;
	grid-template-rows: repeat(2, 1fr);
	grid-template-columns: 1fr 4fr;
	align-items: center;
}

.contacto .icono {
	grid-row: 1 / 3;
}

.contacto ul li p {
	grid-column: 2 / 3;
	margin: 0.25rem;
}

h2 {
	position: relative;
	padding-bottom: 0.5rem;
	text-transform: uppercase;
}

h2::after {
	content: '';
	position: absolute;
	display: block;
	left: 0;
	bottom: -1px;
	width: 3rem;
	height: 3px;
	background: #299799;
}

.skills h2 {
	border-bottom: 1px solid #555;
}

.skills ul li {
	margin-bottom: 0.5rem;
}

article > section {
	margin: 3rem 0;
}

article {
	padding-right: 3rem;
}

abbr {
	cursor: help;
}

.elemento {
	position: relative;
	display: flex;
	gap: 2rem;
	align-items: baseline;
	justify-content: flex-start;
	margin-bottom: 1.5rem;
	padding-bottom: 1.5rem;
}

.elemento::after {
	content: '';
	position: absolute;
	bottom: 0;
	left: 50%;
	display: block;
	transform: translateX(-50%);
	width: 10%;
	height: 3px;
	background: #299799;
}

.elemento__info {
	min-width: 20%;
}

.elemento__info p {
	margin: 0.5rem;
	font-weight: 600;
}

.elemento__contenido h3 {
	text-transform: uppercase;
	margin-bottom: 0.5rem;
}

.elemento__contenido p {
	margin-top: 0;
}